/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #FFF6E9;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* WRAPPER */
.signup-container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    padding: 35px 30px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* TITLE */
.title {
    font-size: 26px;
    font-weight: 700;
    color: #333;
}

.subtitle {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

/* FORM */
.signup-box {
    margin-top: 25px;
    text-align: left;
}

.input-field {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

input {
    width: 100%;
    padding: 12px 14px;
    margin-top: 6px;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    transition: 0.3s ease;
}

input:focus {
    border-color: #FF8A00;
}

/* SIGN UP BUTTON */
.btn-signup {
    width: 100%;
    padding: 12px;
    background: #FF8A00;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-signup:hover {
    background: #e57a00;
}

/* LOGIN LINK */
.login-text {
    text-align: center;
    margin-top: 14px;
    font-size: 14px;
    color: #555;
}

.login-text a {
    color: #FF8A00;
    font-weight: 600;
    text-decoration: none;
}
/* back to shop */
.back-shop {
    text-align: center;
    margin-top: 20px;
}

.back-shop a {
    color: #FF8A00;
    font-weight: 600;
    text-decoration: none;
}

.back-shop a:hover {
    text-decoration: underline;
}
